<mat-drawer-container class="app-sidenav-container" autosize [class.dark-theme]="isDarkTheme" [dir]="dir">
    <mat-drawer #drawer class="app-sidenav" [mode]="isScreenSmall?'over':'side'" [opened]="!isScreenSmall">
        <mat-toolbar color="primary">
            My Application

        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>
                <!-- <a matLine [routerLink]="['contactmanager',user.id]" routerLinkActive="router-link-active">
                    <mat-icon svgIcon="{{user.avatar}}"></mat-icon>{{ user.name}}
                </a> -->
                <button routerLink="" routerLinkActive="active-class" mat-raised-button color="primary">Home</button>
                <button routerLink="" routerLinkActive="active-class" mat-raised-button
                    color="primary">Products</button>

            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="app-sidenav-content">
        <app-header (toggleSideNav)="drawer.toggle()" (toggleTheme)="toggleTheme()" (toggleDir)="toggleDir()">
        </app-header>

        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>