<mat-toolbar color="primary">
    <button class="sidenav-toggle" mat-button (click)="toggleSideNav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    Contact Manger
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddContactDailog()">New Contact</button>
        <button mat-menu-item (click)="toggleTheme.emit()">Toggle theme</button>
        <button mat-menu-item (click)="toggleDir.emit()">Toggle dir</button>
    </mat-menu>
</mat-toolbar>